:root {
    --columns: 1;
    --rows: 1;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header"
    "content";
}

.action {
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.action:hover {
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

#header {
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    align-items: center;
}
    
#descr {
    margin-left: 50px;
}

#logo {
    justify-self: end;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    place-content: center;
    place-items: center;
}

#addFish {
    font-size: 150px;
    line-height: 200px;
    width: 200px;
    height: 200px;
    text-align: center;
    text-justify: center;
    border: solid;
    border-radius: 100px;
}

.fish {
    font-size: 40px;
    width: 300px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    border: solid;
    display: grid;
    grid-template-rows: 20px 1fr 1fr 1fr 60px;
    grid-template-areas: 
    "edRe"
    "specSize"
    "baitMet"
    "location"
    "date";
}

.edRe {
    font-size: 20px;
    line-height: 20px;
    display: grid;
    grid-area: "edRe";
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "edit remove";
    place-content: center;
}

.edit {
    background-color: rgba(6, 226, 72, 0.856);
    width: 100%;
    height: 100%;
    border-top-left-radius: 17px;
    display: grid;
    grid-area: "edit";
    place-content: center;
}

.remove {
    background-color: rgba(233, 7, 7, 0.842);
    width: 100%;
    height: 100%;
    border-top-right-radius: 17px;
    display: grid;
    grid-area: "remove";
    place-content: center;
}

.specSize {
    margin-top: 30px;
    line-height: auto;
    width: 100%;
    font-size: 30px;
    display: grid;
    grid-area: "specSize";
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
    "species"
    "size";
}

.species {
    width: 100%;
    grid-area: "species";
    text-align: center;
}

.size {
    width: 100%;
    grid-area: "size";
    text-align: center;
}

.baitMet {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    display: grid;
    grid-area: "baitMet";
    grid-template-rows: 20px 20px;
    grid-template-areas: 
    "bait"
    "method";
}

.bait {
    width: 100%;
    text-align: center;
    grid-area: "bait";
}

.method {
    width: 100%;
    text-align: center;
    grid-area: "method";
}

.location {
    width: 100%;
    text-align: center;
    grid-area: "location";
}

.date {
    width: 100%;
    display: grid;
    text-align: center;
    grid-area: "date";
    font-size: 20px;
}

/* MODAL PART */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    width: 500px;
    height: 600px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* END OF MODAL PART */