:root {
    --columns: 1;
    --rows: 1;
}

body {
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header"
    "content";
}

.action:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

#header {
    color: white;
    background-color: black;
    display: grid;
    grid-area: header;
    align-items: center;
}
    
#descr {
    margin-left: 30px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    place-content: center;
    place-items: center;
}

#addFish {
    font-size: 150px;
    line-height: 200px;
    width: 200px;
    height: 200px;
    text-align: center;
    text-justify: center;
    border: solid;
    border-radius: 100px;
}
